* /*Police d'écriture*/
{
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

header /*Entête*/
{
	height: 250px;
	width: 100%;
	margin: 0;
	padding: 0px;
	background: #b5bdc8;
	background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); 
	background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); 
	background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );
	
}

#Grid1 /*Partage de l'espace header, image/texte*/
{
	display: grid;
	grid-template-columns: 40% 60%;
}

#textH /*Texte sur le header*/
{
	text-align: left ;
	font-size: x-large;
	color:black;
}

#IMG /*Photo de profil*/
{
	width: 220px;
	height: 250px;
	margin:0em;
	padding-left: 10em;
}

body
{
	margin: 0 ;
}

#Grid2 /*Partage des barres latéraux (gauche et droite) SC1 et SC2*/
{
	display: grid;
	grid-template-columns: 30% 70%;
}

#SC1 /*Barre latéral gauche*/
{
	text-align: left;
	margin-left: 50px;
	padding-top: 2em ;
}

#SC2 /*Barre latéral droite*/
{
	text-align: left;
	background-color: darkgray;
	margin-left: 50px;
	padding-left: 5em;
	padding-top: 2em;
	padding-bottom: 3em;
	padding-right: 5em;
}

#SCFOOTER /*Bas de page Footer*/
{
	background: #b5bdc8;
	background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); 
	background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 36%,#28343b 100%); 
	background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );
	
	text-align: center;
	color: whitesmoke;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

h2 /*Souligner les h2*/
{
	text-decoration: underline;
}


.h23 /*Marge pour la classe H23*/
{
	margin-bottom: 1.5em;
}

a /*Pour les liens, effet du curseur*/
{
	cursor: pointer;
	color: black;
}

a:hover /*Apparence des liens au moment où l'utilisateur le survole avec le pointeur*/
{
	font-size: 18px;
	color: rgb(51, 48, 48);
}

#ICONE /*taille des Incones*/
{
	width: 18px;
}